{{- if .Values.integrations.s3.enabled }}
  {{- $_ := required "You must provide a value for .Values.integrations.s3.existingSecret when .Values.integrations.s3.enabled is true" .Values.integrations.s3.existingSecret }}
{{- else }}
  {{- $region := "local"}}
  {{- $privateBucket := "swanlab-private"}}
  {{- $publicBucket := "swanlab-public"}}
  {{- $accessKey := .Values.dependencies.s3.accessKey | default "swanlab"}}
  {{- $secretKey := .Values.dependencies.s3.secretKey | default "swanlab-s3"}}
  {{- $endpoint := printf "http://%s:9000" (include "swanlab.s3.fullname" .) }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "swanlab.s3.secretName" . }}
  labels:
  {{- include "swanlab.s3.labels" . | nindent 4 }}
type: Opaque
data:
  accessKey: {{ $accessKey | b64enc }}
  secretKey: {{ $secretKey | b64enc }}
  endpoint: {{ $endpoint | b64enc }}
  privateBucket: {{ $privateBucket | b64enc }}
  publicBucket: {{ $publicBucket | b64enc }}
  region: {{ $region | b64enc }}
{{- end }}