{{- if .Values.integrations.redis.enabled | eq false }}
{{- $username := default "default"}}
{{- $url := printf "redis://%s@%s:%s/%s" $username  (include "swanlab.redis.fullname" .) (include "swanlab.redis.port" .) (include "swanlab.redis.database" .) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "swanlab.redis.secretName" . }}
  labels:
  {{- include "swanlab.redis.labels" . | nindent 4 }}
type: Opaque
data:
  url: {{ $url | b64enc }}
{{- end }}