{{- if .Values.integrations.redis.enabled }}
  {{- $_ := required "You must provide a value for .Values.integrations.redis.existingSecret when .Values.integrations.redis.enabled is true" .Values.integrations.redis.existingSecret }}
{{- else }}
{{- $username := default "default"}}
{{- $url := printf "redis://%s@%s:6379" $username  (include "swanlab.redis.fullname" .)  }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "swanlab.redis.secretName" . }}
  labels:
  {{- include "swanlab.redis.labels" . | nindent 4 }}
type: Opaque
data:
  url: {{ $url | b64enc }}
{{- end }}