apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "swanlab.next.fullname" . }}
  labels:
  {{- include "swanlab.next.labels" . | nindent 4 }}
spec:
  replicas: {{ default 1 .Values.service.next.replicaCount }}
  selector:
    matchLabels:
    {{- include "swanlab.next.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
      {{- include "swanlab.next.labels" . | nindent 8 }}
      {{- include "swanlab.next.selectorLabels" . | nindent 8 }}
      {{- if .Values.service.next.customAnnotations }}
      annotations:
      {{- toYaml .Values.service.next.customAnnotations | nindent 8 }}
      {{- end }}
    spec:
      restartPolicy: Always
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: server
          image: {{ include "swanlab.next.image" . | quote }}
          imagePullPolicy: {{ .Values.service.next.image.pullPolicy }}
          ports:
            - containerPort: 3000
              name: web
          env:
            - name: PROXY_URL # 标注此值未用到
              value: "http://{{ include "swanlab.server.fullname" . }}:{{include "swanlab.server.port" . }}"
            - name: CLOUD_URL
              value: "http://{{ include "swanlab.cloud.fullname" . }}:{{include "swanlab.cloud.port" . }}"
            - name: API_URL
              value: "http://{{ include "swanlab.traefik.fullname" . }}:80/api"
            - name: VERIFIER_URL
              value: {{ include "swanlab.server.identify" . | quote }}
            - name: INTERNAL_API_URL
              value: "http://{{ include "swanlab.traefik.fullname" . }}:80/api"
        {{- if .Values.service.next.resources }}
          resources:
        {{- toYaml .Values.service.next.resources | nindent 12 }}
        {{- end }}
      {{- if .Values.service.next.customNodeSelector }}
      nodeSelector:
      {{- toYaml .Values.service.next.customNodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.service.next.customTolerations }}
      tolerations:
      {{- toYaml .Values.service.next.customTolerations | nindent 8 }}
      {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "swanlab.next.fullname" . }}
  labels:
  {{- include "swanlab.next.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
  {{- include "swanlab.next.selectorLabels" . | nindent 4 }}
  ports:
    - port: {{ include "swanlab.next.port" . }}
      targetPort: web
