{{- $identify := include "swanlab.traefik.identify" . }}
{{- $server := include "swanlab.server.fullname" . }}
{{- $serverPort := include "swanlab.server.port" . }}
{{- $house := include "swanlab.house.fullname" . }}
{{- $housePort := include "swanlab.house.port" . }}
{{- $next := include "swanlab.next.fullname" . }}
{{- $nextPort := include "swanlab.next.port" . }}
{{- $cloud := include "swanlab.cloud.fullname" . }}
{{- $cloudPort := include "swanlab.cloud.port" . }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{include "swanlab.fullname" . }}-route-internal
  labels:
    {{ include "swanlab.traefik.crd.label" . }}
spec:
  entryPoints:
    - web
  routes:
    - match: PathPrefix(`/api`) && Header(`X-Requested-By`, `swanlab-next`)
      kind: Rule
      middlewares:
        - name: {{ $identify }}
      services:
        - name: {{ $server }}
          port: {{ $serverPort }}
    - match: PathPrefix(`/api/house`) && Header(`X-Requested-By`, `swanlab-next`)
      kind: Rule
      middlewares:
        - name: {{ $identify }}
      services:
        - name: {{ $house }}
          port: {{ $housePort }}
---
{{- $tls := .Values.ingress.tlsSecret }}
{{- $host := .Values.ingress.host }}

apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{include "swanlab.fullname" . }}-route
  labels:
    {{ include "swanlab.traefik.crd.label" . }}
spec:
  entryPoints:
    - {{ include "swanlab.traefik.entrypoint" $tls }}
  routes:
    # next
    - match: {{ include "swanlab.traefik.match" (list $host "/") }}
      kind: Rule
      services:
        - name: {{ $next }}
          port: {{ $nextPort }}
    # server
    - match: {{include "swanlab.traefik.match" (list $host "/api") }}
      kind: Rule
      middlewares:
        - name: {{ $identify }}
      services:
        - name: {{ $server }}
          port: {{ $serverPort }}
    # house
    - match: {{include "swanlab.traefik.match" (list $host "/api/house") }}
      kind: Rule
      middlewares:
        - name: {{ $identify }}
      services:
        - name: {{ $house }}
          port: {{ $housePort }}
  {{- if .Values.integrations.s3.enabled | eq false }}
    # minio
    - match: {{include "swanlab.traefik.match" (list $host "/swanlab-private") }}
      kind: Rule
      services:
        - name: minio
          port: 9000
    - match: {{include "swanlab.traefik.match" (list $host "/swanlab-public") }}
      kind: Rule
      services:
        - name: minio
          port: 9000
  {{- end }}
  {{- if $tls }}
  tls:
    secretName: {{ $tls }}
  {{- end }}