{{- if .Values.integrations.postgres.enabled }}
  {{- $_ := required "You must provide a value for .Values.integrations.postgres.existingSecret when .Values.integrations.postgres.enabled is true" .Values.integrations.postgres.existingSecret }}
{{- else }}
{{- $database := "app"}}
{{- $username := .Values.dependencies.postgres.username | default "swanlab"}}
{{- $password := .Values.dependencies.postgres.password | default "swanlab-postgres"}}
{{- $url := printf "postgres://%s:%s@%s:5432/%s" $username $password (include "swanlab.postgres.fullname" .) $database }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "swanlab.postgres.secretName" . }}
  labels:
  {{- include "swanlab.postgres.labels" . | nindent 4 }}
type: Opaque
data:
  username: {{ $username | b64enc | quote }}
  password: {{ $password| b64enc | quote }}
  database: {{ $database | b64enc | quote }}
  primaryUrl: {{ $url | b64enc | quote }}
  replicaUrl: {{ $url | b64enc | quote }}
{{- end }}