{{- if .Values.integrations.postgres.enabled | eq false }}
{{- $username := .Values.dependencies.postgres.username | default "swanlab"}}
{{- $password := .Values.dependencies.postgres.password | default "swanlab-postgres"}}
{{- $url := printf "postgres://%s:%s@%s:%s/%s" $username $password (include "swanlab.postgres.fullname" .) (include "swanlab.postgres.port" .) (include "swanlab.postgres.database" .) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "swanlab.postgres.secretName" . }}
  labels:
  {{- include "swanlab.postgres.labels" . | nindent 4 }}
type: Opaque
data:
  username: {{ $username | b64enc | quote }}
  password: {{ $password| b64enc | quote }}
  primaryUrl: {{ $url | b64enc | quote }}
  replicaUrl: {{ $url | b64enc | quote }}
{{- end }}