nameOverride: ""
fullnameOverride: ""

# Global Docker Image Pull Secrets
imagePullSecrets: []

# Configuration for test image used in various components
helper: # Test Image Configuration
  # Repository path for the test image
  repository: repo.swanlab.cn/self-hosted/busybox
  # Tag for the test image
  tag: '1.37.0'
  # Image pull policy for the test pod
  pullPolicy: IfNotPresent

# Configuration of main application services
service:
  # Configuration of our main server service
  server:
    fullnameOverride: ""
    replicas: 2

    image:
      repository: repo.swanlab.cn/self-hosted/swanlab-server
      # For patch update delivery
      tag: ""
      pullPolicy: "IfNotPresent"

    customLabels: {}
    customAnnotations: {}
    customTolerations: []
    customNodeSelector: { }
    resources: {} # K8s Resource Limits and Requests

  # Configuration of our data collection services
  house:
    fullnameOverride: ""
    replicas: 2

    image:
      repository: repo.swanlab.cn/self-hosted/swanlab-house
      # For patch update delivery
      tag: ""
      pullPolicy: "IfNotPresent"


    customLabels: {}
    customAnnotations: {}
    customTolerations: []
    customNodeSelector: { }
    resources: {} # K8s Resource Limits and Requests

    # TODO: We will delete these configurations in the future.
    logImage:
      repository: repo.swanlab.cn/self-hosted/logrotate
      tag: "1.0"
      pullPolicy: "IfNotPresent"
    fbImage:
      repository: repo.swanlab.cn/self-hosted/fluent-bit
      tag: "3.2"
      pullPolicy: "IfNotPresent"
    persistence: # Persistent Storage Configuration
      # Kubernetes StorageClass to use for dynamic provisioning.
      storageClass: "local-storage"
      # Volume size for the database data.
      storageSize: "10Gi"
      # Use an existing PVC by name (leave empty to create a new one)
      existingClaim: ""

  # Configuration of our frontend service
  cloud:
    fullnameOverride: ""
    replicas: 1

    image:
      repository: repo.swanlab.cn/self-hosted/swanlab-cloud
      # For patch update delivery
      tag: ""
      pullPolicy: "IfNotPresent"


    customLabels: {}
    customAnnotations: {}
    customTolerations: []
    customNodeSelector: { }
    resources: {} # K8s Resource Limits and Requests

  # Configuration of our frontend service
  next:
    fullnameOverride: ""
    replicas: 2

    image:
      repository: repo.swanlab.cn/self-hosted/swanlab-next
      # For patch update delivery
      tag: ""
      pullPolicy: "IfNotPresent"


    customLabels: {}
    customAnnotations: {}
    customTolerations: []
    customNodeSelector: { }
    resources: {} # K8s Resource Limits and Requests


# Additional environment variables can be specified here.
env:
  # Login Host will change the api-key login host displayed in the frontend application.
  loginHost: ""


# Configuration for internal-deployed infrastructure (Chart-managed services).
# These components serve as the default application dependencies and are only
# provisioned in the cluster if the corresponding 'integrations.<service>.enabled' is false.
dependencies:

  postgres: # PostgreSQL Database Configuration
    fullnameOverride: ""

    image: # Image Configuration
      # Full image repository path (e.g., ghcr.io/cloudnative-pg/postgresql)
      repository: repo.swanlab.cn/self-hosted/postgres
      # Image tag/version to use. We RECOMMEND using 16.x+ for SwanLab.
      tag: "16.1"
      # Kubernetes image pull policy (Always, IfNotPresent, Never).
      pullPolicy: "IfNotPresent"

    username: ""
    password: ""

    persistence: # Persistent Storage Configuration
      # Kubernetes StorageClass to use for dynamic provisioning.
      storageClass: "local-storage"
      # Volume size for the database data.
      storageSize: "10Gi"

      # Use an existing PVC by name (leave empty to create a new one)
      existingClaim: ""

    customLabels: {}
    customAnnotations: {}
    customTolerations: []
    customNodeSelector: {}
    resources: {}

  redis: # Redis Configuration
    fullnameOverride: ""

    image: # Image Configuration
      # Full image repository path (e.g., redis/redis-stack)
      repository: repo.swanlab.cn/self-hosted/redis-stack
      # Image tag/version to use.
      tag: "7.4.0-v8"
      # Kubernetes image pull policy (Always, IfNotPresent, Never).
      pullPolicy: "IfNotPresent"

    persistence: # Persistent Storage Configuration
      storageClass: "local-storage"
      storageSize: "10Gi"

      # Use an existing PVC by name (leave empty to create a new one)
      existingClaim: ""

    customLabels: {}
    customAnnotations: {}
    customTolerations: [ ]
    customNodeSelector: { }
    resources: {}

  clickhouse: # ClickHouse Configuration
    fullnameOverride: ""

    image: # Image Configuration
      # Full image repository path (e.g., clickhouse/clickhouse-server)
      repository: repo.swanlab.cn/self-hosted/clickhouse-server
      # Image tag/version to use.
      tag: "24.3"
      pullPolicy: "IfNotPresent"

    # Authentication credentials.
    # Leave empty if using existingSecret.
    username: ""
    password: ""

    persistence: # Persistent Storage Configuration
      storageClass: "local-storage"
      storageSize: "20Gi"

      # Use an existing PVC by name (leave empty to create a new one)
      existingClaim: ""

    customLabels: {}
    customAnnotations: {}
    customTolerations: []
    customNodeSelector: { }
    resources: {} # K8s Resource Limits and Requests

  s3: # MinIO Object Storage Service
    fullnameOverride: ""

    image: # Image Configuration
      # Full image repository path (e.g., minio/minio)
      repository: repo.swanlab.cn/self-hosted/minio/minio
      # Image tag/version to use.
      tag: "RELEASE.2025-09-07T16-13-09Z"
      pullPolicy: "IfNotPresent"

    mcImage: # MinIO Client Image Configuration
      # Full image repository path (e.g., minio/mc)
      repository: repo.swanlab.cn/self-hosted/minio/mc
      # Image tag/version to use.
      tag: "RELEASE.2025-08-13T08-35-41Z"
      pullPolicy: "IfNotPresent"

    accessKey: ""
    # If left empty, a secure secret key will be generated.
    secretKey: ""

    persistence: # Persistent Storage Configuration
      storageClass: "local-storage"
      storageSize: "20Gi"

      # Use an existing PVC by name (leave empty to create a new one)
      existingClaim: ""

    customLabels: {}
    customAnnotations: {}
    customTolerations: [ ]
    customNodeSelector: { }
    resources: {} # K8s Resource Limits and Requests


# Configuration of external-deployed infrastructure
integrations:
  postgres:
    # Enable to use an external PostgreSQL database.
    enabled: false
    # (Optional) Use an existing Secret for connection strings.
    # If set, 'primaryUrl' and 'replicaUrl' values above will be ignored.
    #
    # | .data.<key> in Secret |
    # |:----------------------|
    # | database              |
    # | username              |
    # | password              |
    # | port                  |
    # | primaryUrl           |
    # | replicaUrl           |
    existingSecret: ""

  redis:
    # Enable to use an external Redis service.
    enabled: false
    # (Optional) Use an existing Secret for the Redis URL.
    # If set, the 'url' value above will be ignored.
    #
    # | .data.<key> in Secret |
    # |:----------------------|
    # | url                   |
    existingSecret: ""

  clickhouse:
    # Enable to use an external ClickHouse server.
    enabled: false
    # (Optional) Use an existing Secret for authentication.
    # If set, 'user', 'password', 'host', 'httpPort', and 'database' values above will be ignored.
    #
    # | .data.<key> in Secret |
    # |:----------------------|
    # | username              |
    # | password              |
    # | host                  |
    # | httpPort              |
    # | tcpPort               |
    # | database              |
    existingSecret: ""

  s3:
    # Enable to use an external S3-compatible object storage.
    enabled: false
    # (Optional) Use an existing Secret for S3 credentials.
    # If set, 'accessKey' and 'secretKey' values above will be ignored.
    #
    # |.data.<key> in Secret |
    # |:---------------------|
    # | accessKey            |
    # | secretKey            |
    # | endpoint             |
    # | privateBucket        |
    # | publicBucket         |
    # | region               |
    existingSecret: ""


ingress:
  # A secret used for TLS termination in ingress controllers
  # If set, swanlab will use websecure port (443) with TLS.
  # If left empty, swanlab will use web port (80) without TLS.
  #
  # | .data.<key> in Secret |
  # |:----------------------|
  # | tls.crt               |
  # | tls.key               |
  tlsSecret: ""
  # The host domain name for accessing SwanLab services.
  # If set, you can only access SwanLab via this domain.
  host: ""

  # Test image configuration for the gateway components
  test:
    image:
      # Registry for the test image (e.g., busybox)
      registry: repo.swanlab.cn
      # Repository path for the test image
      repository: self-hosted/busybox
      # Tag for the test image
      tag: '1.37.0'
      # Image pull policy for the test pod
      pullPolicy: IfNotPresent
    # List of secrets used to pull the test image
    imagePullSecrets: [ ]

  # Traefik static configuration. All configurations remain unchanged except for images and pull secrets.
  traefik:
    image:
      # Registry for the main Traefik image
      registry: repo.swanlab.cn
      # Repository path for the Traefik image
      repository: self-hosted/traefik
      # Tag for the Traefik image
      tag: '3.6'
      # Image pull policy for the Traefik pods
      pullPolicy: IfNotPresent

    service:
      type: LoadBalancer

    deployment:
      # Number of Traefik replicas
      replicas: 2
      # List of secrets used to pull the Traefik image
      imagePullSecrets: [ ]

      # If you need to replace identify image, you can modify the initContainers section here.
      # BUT REMEMBER: You can ONLY change the image field, other fields MUST NOT be changed.
      initContainers:
        - name: download-identify
          # Image for the init container that downloads the custom plugin files
          image: repo.swanlab.cn/self-hosted/swanlab-helper/identify:v1.2
          env:
            - name: COPY_TO
              # The download-identify script automatically creates the 'identify' folder in the /plugins-tmp directory.
              value: /plugins-tmp
          volumeMounts:
            - name: identify-plugin
              # Mount path for the shared volume
              mountPath: /plugins-tmp

    providers:
      kubernetesCRD:
        # Label selector to filter IngressRoute resources
        # It's useful when multiple applications deploy Traefik in the same cluster.
        # Only supports a single selector in the current version:
        labelSelector: "swanlab=self-hosted"