nameOverride: ""
fullnameOverride: ""

global:
  # Image pull settings
  imagePullSecrets: []

  # Kubernetes cluster domain name
  clusterDomain: cluster.local

  # Kubernetes Pod Affinity/Anti-Affinity settings
  # We use Topology Spread Constraints to achieve pod distribution across nodes.
  podAntiAffinityPreset: "soft" # soft, hard, or none

  # Global application settings
  settings:
    # Login Host will change the api-key login host displayed in the frontend application.
    # Note that this setting does not affect the actual backend service address.
    loginHost: ""

gateway:
  fullnameOverride: ""

  replicas: 2

  image:
    repository: repo.swanlab.cn/self-hosted/traefik
    # For patch update delivery
    tag: "3.6"
    pullPolicy: "IfNotPresent"

  identifyImage:
    repository: repo.swanlab.cn/self-hosted/swanlab-helper/identify
    tag: "v1.2"
    pullPolicy: "IfNotPresent"

  customLabels: {}
  customAnnotations: {}
  customTolerations: []
  customNodeSelector: { }
  resources: {}

# Configuration for test image used in various components
helper: # Test Image Configuration
  # Repository path for the test image
  repository: repo.swanlab.cn/self-hosted/busybox
  # Tag for the test image
  tag: '1.37.0'
  # Image pull policy for the test pod
  pullPolicy: IfNotPresent

# Configuration of main application services
service:
  # Configuration of our main server service
  server:
    fullnameOverride: ""
    replicas: 2

    image:
      repository: repo.swanlab.cn/self-hosted/swanlab-server
      # For patch update delivery
      tag: ""
      pullPolicy: "IfNotPresent"

    customLabels: {}
    customAnnotations: {}
    customTolerations: []
    customNodeSelector: { }
    resources: {}

  # Configuration of our data collection services
  house:
    fullnameOverride: ""
    replicas: 2

    image:
      repository: repo.swanlab.cn/self-hosted/swanlab-house
      # For patch update delivery
      tag: ""
      pullPolicy: "IfNotPresent"


    customLabels: {}
    customAnnotations: {}
    customTolerations: []
    customNodeSelector: { }
    resources: {}


    # sidecar logging configuration
    # TODO: We will delete these configurations in the future: https://github.com/SwanHubX/charts/issues/14
    logResources: {}
    fbResources: {}
    logImage:
      repository: repo.swanlab.cn/self-hosted/logrotate
      tag: "1.0"
      pullPolicy: "IfNotPresent"
    fbImage:
      repository: repo.swanlab.cn/self-hosted/fluent-bit
      tag: "3.2"
      pullPolicy: "IfNotPresent"
    persistence: # Persistent Storage Configuration
      # Kubernetes StorageClass to use for dynamic provisioning.
      storageClass: ""
      # Volume size for the database data.
      storageSize: "10Gi"
    # Retain PVC on deletion. In the vast majority of cases, this is unnecessary.
    retainPVC: false

  # Configuration of our frontend service
  cloud:
    fullnameOverride: ""
    replicas: 1

    image:
      repository: repo.swanlab.cn/self-hosted/swanlab-cloud
      # For patch update delivery
      tag: ""
      pullPolicy: "IfNotPresent"


    customLabels: {}
    customAnnotations: {}
    customTolerations: []
    customNodeSelector: { }
    resources: {}

  # Configuration of our frontend service
  next:
    fullnameOverride: ""
    replicas: 2

    image:
      repository: repo.swanlab.cn/self-hosted/swanlab-next
      # For patch update delivery
      tag: ""
      pullPolicy: "IfNotPresent"


    customLabels: {}
    customAnnotations: {}
    customTolerations: []
    customNodeSelector: { }
    resources: {}

# Configuration for internal-deployed infrastructure (Chart-managed services).
# These components serve as the default application dependencies and are only
# provisioned in the cluster if the corresponding 'integrations.<service>.enabled' is false.
dependencies:

  postgres: # PostgreSQL Database Configuration
    fullnameOverride: ""

    image: # Image Configuration
      # Full image repository path (e.g., ghcr.io/cloudnative-pg/postgresql)
      repository: repo.swanlab.cn/self-hosted/postgres
      # Image tag/version to use. We RECOMMEND using 16.x+ for SwanLab.
      tag: "16.1"
      # Kubernetes image pull policy (Always, IfNotPresent, Never).
      pullPolicy: "IfNotPresent"

    username: ""
    password: ""

    persistence: # Persistent Storage Configuration
      # Kubernetes StorageClass to use for dynamic provisioning.
      storageClass: ""
      # Volume size for the database data.
      storageSize: "10Gi"

      # Use an existing PVC by name (leave empty to create a new one)
      existingClaim: ""

    customLabels: {}
    customAnnotations: {}
    customTolerations: []
    customNodeSelector: {}
    resources: {}

  redis: # Redis Configuration
    fullnameOverride: ""

    image: # Image Configuration
      # Full image repository path (e.g., redis/redis-stack)
      repository: repo.swanlab.cn/self-hosted/redis-stack
      # Image tag/version to use.
      tag: "7.4.0-v8"
      # Kubernetes image pull policy (Always, IfNotPresent, Never).
      pullPolicy: "IfNotPresent"

    persistence: # Persistent Storage Configuration
      storageClass: ""
      storageSize: "10Gi"

      # Use an existing PVC by name (leave empty to create a new one)
      existingClaim: ""

    customLabels: {}
    customAnnotations: {}
    customTolerations: [ ]
    customNodeSelector: { }
    resources: {}

  clickhouse: # ClickHouse Configuration
    fullnameOverride: ""

    image: # Image Configuration
      # Full image repository path (e.g., clickhouse/clickhouse-server)
      repository: repo.swanlab.cn/self-hosted/clickhouse-server
      # Image tag/version to use.
      tag: "24.3"
      pullPolicy: "IfNotPresent"

    # Authentication credentials.
    # Leave empty if using existingSecret.
    username: ""
    password: ""

    persistence: # Persistent Storage Configuration
      storageClass: ""
      storageSize: "20Gi"

      # Use an existing PVC by name (leave empty to create a new one)
      existingClaim: ""

    customLabels: {}
    customAnnotations: {}
    customTolerations: []
    customNodeSelector: { }
    resources: {} # K8s Resource Limits and Requests

  s3: # MinIO Object Storage Service
    fullnameOverride: ""

    image: # Image Configuration
      # Full image repository path (e.g., minio/minio)
      repository: repo.swanlab.cn/self-hosted/minio/minio
      # Image tag/version to use.
      tag: "RELEASE.2025-09-07T16-13-09Z"
      pullPolicy: "IfNotPresent"

    mcImage: # MinIO Client Image Configuration
      # Full image repository path (e.g., minio/mc)
      repository: repo.swanlab.cn/self-hosted/minio/mc
      # Image tag/version to use.
      tag: "RELEASE.2025-08-13T08-35-41Z"
      pullPolicy: "IfNotPresent"

    accessKey: ""
    # If left empty, a secure secret key will be generated.
    secretKey: ""

    persistence: # Persistent Storage Configuration
      storageClass: ""
      storageSize: "20Gi"

      # Use an existing PVC by name (leave empty to create a new one)
      existingClaim: ""

    customLabels: {}
    customAnnotations: {}
    customTolerations: [ ]
    customNodeSelector: { }
    resources: {} # K8s Resource Limits and Requests


# Configuration of external-deployed infrastructure
integrations:
  postgres:
    # Enable to use an external PostgreSQL database.
    enabled: false
    host: ""
    port: 5432
    database: "app"
    # (Optional) Use an existing Secret for connection strings.
    # If set, 'primaryUrl' and 'replicaUrl' values above will be ignored.
    #
    # | .data.<key> in Secret |
    # |:----------------------|
    # | username              |
    # | password              |
    # | primaryUrl            |
    # | replicaUrl            |
    existingSecret: ""

  redis:
    # Enable to use an external Redis service.
    enabled: false
    host: ""
    port: 6379
    database: 0
    # (Optional) Use an existing Secret for the Redis URL.
    # If set, the 'url' value above will be ignored.
    #
    # | .data.<key> in Secret |
    # |:----------------------|
    # | url                   |
    existingSecret: ""

  clickhouse:
    # Enable to use an external ClickHouse server.
    enabled: false
    host: ""
    httpPort: 8123
    tcpPort: 9000
    database: "app"
    # (Optional) Use an existing Secret for authentication.
    # If set, 'user', 'password', 'host', 'httpPort', and 'database' values above will be ignored.
    #
    # | .data.<key> in Secret |
    # |:----------------------|
    # | username              |
    # | password              |
    existingSecret: ""

  s3:
    # Enable to use an external S3-compatible object storage.
    enabled: false
    public:
      ssl: false
      endpoint: ""
      region: ""
      port: 0
      domain: ""
      pathStyle: true
      bucket: ""
    private:
      ssl: false
      endpoint: ""
      region: ""
      port: 0
      pathStyle: true
      bucket: ""
    # (Optional) Use an existing Secret for S3 credentials.
    # If set, 'accessKey' and 'secretKey' values above will be ignored.
    #
    # |.data.<key> in Secret |type                  |
    # |:---------------------|----------------------|
    # | accessKey            | string               |
    # | secretKey            | string               |
    existingSecret: ""
